In [2]:
import statsmodels.api as sm
import pandas as pd
from patsy import dmatrices

In [4]:
df = sm.datasets.get_rdataset("Guerry", "HistData").data
vars = ['Department', 'Lottery', 'Literacy', 'Wealth', 'Region']
df = df[vars]
df

      Department  Lottery  Literacy  Wealth Region
0            Ain       41        37      73      E
1          Aisne       38        51      22      N
2         Allier       66        13      61      C
3   Basses-Alpes       80        46      76      E
4   Hautes-Alpes       79        69      83      E
..           ...      ...       ...     ...    ...
81        Vienne       40        25      68      W
82  Haute-Vienne       55        13      67      C
83        Vosges       14        62      82      E
84         Yonne       51        47      30      C
85         Corse       83        49      37    NaN

[86 rows x 5 columns]

In [5]:
df = df.dropna()
df

      Department  Lottery  Literacy  Wealth Region
0            Ain       41        37      73      E
1          Aisne       38        51      22      N
2         Allier       66        13      61      C
3   Basses-Alpes       80        46      76      E
4   Hautes-Alpes       79        69      83      E
..           ...      ...       ...     ...    ...
80        Vendee       68        28      56      W
81        Vienne       40        25      68      W
82  Haute-Vienne       55        13      67      C
83        Vosges       14        62      82      E
84         Yonne       51        47      30      C

[85 rows x 5 columns]

In [7]:
# regression matrix
y,X = dmatrices('Lottery~Literacy+Wealth+Region',data=df,return_type='dataframe')
print (y)
print (X)

    Lottery
0      41.0
1      38.0
2      66.0
3      80.0
4      79.0
..      ...
80     68.0
81     40.0
82     55.0
83     14.0
84     51.0

[85 rows x 1 columns]
    Intercept  Region[T.E]  Region[T.N]  Region[T.S]  Region[T.W]  Literacy  \
0         1.0          1.0          0.0          0.0          0.0      37.0
1         1.0          0.0          1.0          0.0          0.0      51.0
2         1.0          0.0          0.0          0.0          0.0      13.0
3         1.0          1.0          0.0          0.0          0.0      46.0
4         1.0          1.0          0.0          0.0          0.0      69.0
..        ...          ...          ...          ...          ...       ...
80        1.0          0.0          0.0          0.0          1.0      28.0
81        1.0          0.0          0.0          0.0          1.0      25.0
82        1.0          0.0          0.0          0.0          0.0      13.0
83        1.0          1.0          0.0          0.0          0.0      62.0
84        1.0          0.0          0.0          0.0          0.0      47.0

    Wealth
0     73.0
1     22.0
2     61.0
3     76.0
4     83.0
..     ...
80    56.0
81    68.0
82    67.0
83    82.0
84    30.0

[85 rows x 7 columns]

In [8]:
model = sm.OLS(y,X)
result = model.fit()
print (result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Lottery   R-squared:                       0.338
Model:                            OLS   Adj. R-squared:                  0.287
Method:                 Least Squares   F-statistic:                     6.636
Date:                Sat, 05 Nov 2022   Prob (F-statistic):           1.07e-05
Time:                        21:48:07   Log-Likelihood:                -375.30
No. Observations:                  85   AIC:                             764.6
Df Residuals:                      78   BIC:                             781.7
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      38.6517      9.456      4.087      0.000      19.826      57.478
Region[T.E]   -15.4278      9.727     -1.586      0.117     -34.793       3.938
Region[T.N]   -10.0170      9.260     -1.082      0.283     -28.453       8.419
Region[T.S]    -4.5483      7.279     -0.625      0.534     -19.039       9.943
Region[T.W]   -10.0913      7.196     -1.402      0.165     -24.418       4.235
Literacy       -0.1858      0.210     -0.886      0.378      -0.603       0.232
Wealth          0.4515      0.103      4.390      0.000       0.247       0.656
==============================================================================
Omnibus:                        3.049   Durbin-Watson:                   1.785
Prob(Omnibus):                  0.218   Jarque-Bera (JB):                2.694
Skew:                          -0.340   Prob(JB):                        0.260
Kurtosis:                       2.454   Cond. No.                         371.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [1]:
from sklearn import datasets, svm, metrics
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [11]:
digits = datasets.load_digits()
n_samples = len(digits.images)
data = digits.images.reshape((n_samples,-1))
print(data.shape)

(1797, 64)

In [10]:
digits.images.shape

(1797, 8, 8)